

<div class="container">
    <h1 class="card-title">Panel Auxiliar de Bodega</h1>
    <div class="tabs">
      <div class="tabs-list">
        <button
          *ngFor="let tab of tabs; let i = index"
          (click)="selectTab(i)"
          [class.active]="selectedTab === i"
          class="tabs-trigger"
        >
          {{ tab.label }}
        </button>
      </div>
  
      <div class="tabs-content">
        <ng-container *ngIf="selectedTab === 0">
          <div style="width: 100%;  justify-items: center;">
            <app-panel-search (searchParams)="handleSearchParams($event)"></app-panel-search>
            <div style="width: 90% ;margin: 20px ;">
              <app-card-get-stock
                #componenteGetArticle
                [dataClass]="articlesClass"
                [params]="articleCustomParams"  
                [fieldsToDisplay]="articleFields"
                [apiUrl]="apiUrlArticles"
                label="Todas los Articulos"
                description="visualiza todas los articulos"
                [columns]="articlesColumns"
              ></app-card-get-stock>
          </div>
          </div>
        </ng-container>
  
        <ng-container *ngIf="selectedTab === 1">

          <div class="supply-container">
          <div  class="tabs-left">
            <app-card-supply (supplyAdded)="addSupply($event)" ></app-card-supply>
          </div>
          <div  class="tabs-right">
            <app-send-supply  
            (suppliesUpdated)="onSuppliesUpdated($event)"
            [supplies]="supplies"
            [fieldsToDisplay]="supplyFieldsToSend"
            label="Paquete de Suminsitros"
            description="Envia un paquete de suministros"
            [columns]="supplyColumnsToSend"
          ></app-send-supply>
          </div>
        </div>
        </ng-container>
      </div>
      <div style="width: 100%; margin-top: 20px">
        <app-response-supply
          [supplies]="responseData"
          [fieldsToDisplay]="supplyFields"
          label="Cola de Sumisitros a Stock"
          description="Envia un paquete de suministros"
          [columns]="supplyColumns"
        ></app-response-supply>
       
      </div>
    </div>
  </div>
  