<div class="card">
  <div class="card-header">
    <h1 class="card-title">{{ label }}</h1>
    <h2 class="card-description">{{ description }}</h2>
  </div>
  <div class="card-content">
    <div class="button-container">
      <button class="btn-primary" (click)="toggleOrder()">
        {{ ascending ? "dsc" : "Asc" }}
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{ column }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td *ngFor="let field of fieldsToDisplay">
            {{ getPropertyValue(item, field.key) }}
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Botones de paginación -->
    <div class="pagination-container">
      <button
        (click)="prevPage()"
        [disabled]="page === 0"
        class="btn-secundary"
      >
        <img
          class="pagination-arrow rotation"
          src="assets\arrow_forward_ios.svg"
          alt="Anterior"
        />
      </button>
      <span>{{ page + 1 }}</span>
      <button (click)="nextPage()" class="btn-secundary">
        <img
          class="pagination-arrow"
          src="assets\arrow_forward_ios.svg"
          alt="Siguiente"
        />
      </button>
    </div>
  </div>
</div>
