<div class="card"> 
  <app-alert-message-display></app-alert-message-display> 
    <div class="card-header">
        <div class="card-title">{{title}}</div>
        <div class="card-description">{{subtitle}}</div>
    </div>
    <form [formGroup] = "categoryForm" >
        <div class="card-content space-vertical-content ">
            <app-input
            [control]="getFormControl('name')"
            label="Nombre"
            [errorMessages]="[
              { key: 'required', message: 'El nombre es requerido' },
              { key: 'maxlength', message: 'El nombre debe ser menor a 50 caracteres' }
            ]"
          ></app-input>

          <app-text-input
            [control]="getFormControl('description')"
            label="Descripcion"
            [errorMessages]="[
              { key: 'required', message: 'description es requerido' },
              { key: 'maxlength', message: 'description debe ser menor a 50 caracteres' }
            ]"
          ></app-text-input>
        </div>
        <div class="card-footer">
          <app-submit-button 
          label="Crear" 
          (action)="getData()">
        </app-submit-button>
        </div>
    </form>
</div>
