.space-vertical {
  display: flex;
  margin-top: 0.5rem; 
  flex-direction: column;
  height: 160px;
}

.space-vertical-content > * + * {
  margin-top: 1rem; 
}


.form-textarea:focus {
  border-color: #4B3A5A; /* Borde azul al enfocar */
  outline: none; /* Quitar borde de enfoque predeterminado */
  background-color: #ffffff; /* Fondo blanco al enfocar */
}

.input-container {
  margin-bottom: 1rem; /* Espacio inferior para separación */
}

.form-label {
  font-size: 0.875rem; /* Tamaño de fuente pequeño */
  font-weight: 500;    /* Peso medio */
  color: #4a5568;      /* Gris oscuro */
  display: block;      /* Para que el label ocupe toda la línea */
  margin-bottom: 0.5rem; /* Espacio inferior */
}

.form-textarea {     
  height: 100px; 
  border: 1px solid #cbd5e0; /* Borde gris claro */
  border-radius: 0.375rem; /* Bordes redondeados */
  color: #4a5568;
  resize: vertical; /* Permitir cambiar tamaño solo vertical */
  transition: border-color 0.2s; /* Transición suave para el borde */
  font-size:0.875rem; 
  font-weight: 500;
}

.span-error{
  color:#D51A52 ;
  font-size: 12px;
  font-weight: 300;
  line-height: 2.76;
}