<div class="container">
  <h1 class="card-title">Panel de Administrador</h1>
  <div class="tabs">
    <div class="tabs-list">
      <button
        *ngFor="let tab of tabs; let i = index"
        (click)="selectTab(i)"
        [class.active]="selectedTab === i"
        class="tabs-trigger"
      >
        {{ tab.label }}
      </button>
    </div>

    <div class="tabs-content">
      <ng-container *ngIf="selectedTab === 0">
        <div style="width: 100%; display: flex; flex-direction: row">
          <div style="width: 35%">
            <app-card-category (refresGet)="refreshBHandler(getCategory)"></app-card-category>
          </div>
          <div style="width: 65%;">
            <app-card-get-stock
              #componenteGetCategory
              [dataClass]="categoryClass"
              [params]="categoryCustomParams"
              [fieldsToDisplay]="stockFields"
              [apiUrl]="apiUrlCategory"
              label="Todas las Categorias"
              description="visualiza todas las categorias"
              [columns]="stockColumns"
            ></app-card-get-stock>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedTab === 1">
        <div
          style="width: 100%; display: flex; flex-direction: row"
        >
          <div style="width: 35%">
            <app-card-brand (refresGet)="refreshBHandler(getBrand)" ></app-card-brand>
          </div>
          <div style="width: 65%">
            <app-card-get-stock
              #componenteGetBrand
              [dataClass]="brandClass"
              [params]="categoryCustomParams"
              [fieldsToDisplay]="stockFields"
              [apiUrl]="apiUrlBrand"
              label="Todas las Marcas"
              description="visualiza todas las marcas"
              [columns]="stockColumns"
            ></app-card-get-stock>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedTab === 2">
        <div
          style="width: 100%; display: flex;height: 462px;"
        >
          <div style="width: 35%;">
            <app-card-article (refresGet)="refreshBHandler(getArticle)" ></app-card-article>
          </div>
          <div style="width: 65%;">
            <app-card-get-stock
              #componenteGetArticle
              [dataClass]="articlesClass"
              [params]="categoryCustomParams"
              [fieldsToDisplay]="articleFields"
              [apiUrl]="apiUrlArticles"
              label="Todas los Articulos"
              description="visualiza todas los articulos"
              [columns]="articlesColumns"
            ></app-card-get-stock>
          </div>
        </div>
      </ng-container>
    </div>
    <div style="width: 100%; margin-top: 20px">
      <app-card-aux></app-card-aux>
    </div>
  </div>
</div>
