.alert-success {
  color: #fff;
  background-color: #00B990;
  padding: 5px;
}

.alert-danger {
  color: #D51A52;
  background-color: #f8d7da;
  padding: 5px;
}

.alert {
  visibility: hidden; /* Inicialmente oculto */
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(-20px); /* Posición inicial desde arriba */
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out, transform 1s ease-in-out; /* Transición para aparecer y desaparecer */
  pointer-events: none; /* Evita interacción del ratón */
  height: 20px; /* Altura fija */
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

.alert.show {
  visibility: visible; /* Visible cuando se le añade la clase show */
  opacity: 1; /* Hace que sea visible */
  transform: translateY(0); /* Se mueve hacia abajo */
  pointer-events: auto; /* Permite la interacción */
}

.alert.fade-out {
  opacity: 0; /* Cuando se inicia la desaparición */
  visibility: hidden; /* Oculta el elemento después de la transición */
  transform: translateY(-20px); /* Se mueve hacia arriba al desaparecer */
}
