<div class="card">
  <app-alert-message-display></app-alert-message-display>  <!-- Componente de alertas -->
  <div class="card-header">
    <div class="card-title">{{titleArticle}}</div>
    <div class="card-description">{{subtitle}}</div>
  </div>
  <form [formGroup]="articleForm">
    <div class="card-content space-vertical-content">
      <app-input
        [control]="getFormControl('name')"
        label="Nombre"
        [errorMessages]="[
          { key: 'required', message: 'El nombre es requerido' },
          {
            key: 'maxlength',
            message: 'El nombre debe ser menor a 50 caracteres'
          }
        ]"
      ></app-input>

      <app-text-input
        label="Descripcion"
        [control]="getFormControl('description')"
        [errorMessages]="[
          { key: 'required', message: 'descripcion es requerida' },
          { key: 'maxlength', message: 'nombre debe ser menor a 90 caracters' }
        ]"
      ></app-text-input>

      <app-input
        [control]="getFormControl('quantity')"
        label="Cantidad"
        type="number"
        [errorMessages]="[
          { key: 'required', message: 'La cantidad es requerida' }
        ]"
      ></app-input>
      <app-input
        [control]="getFormControl('price')"
        label="Precio"
        type="number"
        [errorMessages]="[
          { key: 'required', message: 'La cantidad es requerida' }
        ]"
      ></app-input>
      <app-input
        [control]="getFormControl('brand')"
        label="Marca"
        [errorMessages]="[
          { key: 'required', message: 'La marca es requerida' }
        ]"
      ></app-input>
      <select formControlName="articleCategories" multiple>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>
    <div class="card-footer">
      <app-submit-button 
        label="Crear" 
        (action)="getData()">
      </app-submit-button>
    </div>
  </form>
</div>
